<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331689204776-hte83476cektgqc40gerialnsnbve2tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331689204776-hte83476cektgqc40gerialnsnbve2tb</string>
	<key>API_KEY</key>
	<string>AIzaSyAgShz5i2eKgJIKzYhveCXGJ9QtOz1w1aY</string>
	<key>GCM_SENDER_ID</key>
	<string>331689204776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilna.CodingAnimeRN</string>
	<key>PROJECT_ID</key>
	<string>coding-anime</string>
	<key>STORAGE_BUCKET</key>
	<string>coding-anime.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331689204776:ios:a3089a86e166d0a2bee91d</string>
</dict>
</plist>